/* In your external dashboard.css file */

/* Default Card State */
.status-card {
    transition: all 0.3s ease-in-out;
    height: 100%;
}

/* General Hover Effects (Movement and Shadow) */
.status-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}


/* Specific Hover Colors */

.card.status-card:hover .small,
.card.status-card:hover .fs-4,
.card.status-card:hover .bi {
    color: white !important;
}


.card.status-card.border-success:hover {
    background-color: #198754; 
}


.card.status-card.border-warning:hover {
    background-color: #ffc107
}

.card.status-card.border-info:hover {
    background-color: #0dcaf0;
}

.card.status-card.border-secondary:hover {
    background-color: #6c757d;
}

.card.status-card.border-danger:hover {
    background-color: #dc3545;
}

.card.status-card.border-primary:hover {
    background-color: #0d6efd;
}



th, td {
    text-align: center;
  
}


  .modal-dialog-scrollable .modal-content {
           overflow-y: scroll;
        }


        /* On medium screens (tablets, 768px and up), make icons slightly smaller */
@media (max-width: 992px) {
    .status-card .bi {
        font-size: 2.25rem !important; /* Slightly smaller than fs-1 */
    }
    .status-card .fs-4 {
        font-size: 1.25rem !important; /* Slightly smaller number */
    }



}

